/* Web Fonts-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');

/* colors -------------------- */

/* Base Styles -------------------- */
header {
  text-align: center;
}

body {
  font-family: 'Merriweather', 'Georgia', serif;
}

fieldset {
    border: none;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
}



/* Pseudo-classes ------------------ */

/* Main Styles --------------------- */
li[label] {
    align-self: flex-start;
}

li {
  margin-bottom: 40px;
}

/* Media Queries -------------------- */
