/* Web Fonts-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');

/* colors -------------------- */

/* Base Styles -------------------- */
header,
footer {
  text-align: center;
}

body {
  font-family: 'Merriweather', 'Georgia', serif;
}

fieldset {
    border: none;
}

.contact-info ul,
.newsletter ul,
.contact-info li {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}



/* Pseudo-classes ------------------ */

/* Main Styles --------------------- */
li[label] {
    align-self: flex-start;
}

li {
  margin-bottom: 40px;
}

/* Media Queries -------------------- */
