/* Web Fonts-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');

/* colors -------------------- */

/* Base Styles -------------------- */
body {
  font-family: 'Merriweather', 'Georgia', serif;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  flex: 1;
}



/* Pseudo-classes ------------------ */

/* Main Styles --------------------- */

li {
  margin-bottom: 40px;
}

/* Media Queries -------------------- */
